// MY THEME COLORS 

$footer: #151414;
 
// - IMPORT BOOTSTRAP ( The entire bootstrap with everything)
// ##########################################
@import "../node_modules/bootstrap/scss/bootstrap.scss";


body {
    background: #d7d7d7;
}


$input-text-color: #939393;
$input-border-background: #32849b;


#puppy-profile-card, #puppy-profile-display-card{

    max-width: 800px;
    padding: 3rem 1.2rem;

    // center and create room to display shadows
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(140, 140, 140, 0.6);
    margin: 50px 20px;
    

    h1 {
        font-family: 'Roboto Serif', serif;
        font-weight: bolder;
        font-size: 30px;
        text-transform: uppercase;
        color: $input-border-background;
    }

    label {

        font-weight: 600;

    }

    .dog-img {
        max-width: 160px;
        display: block;
        margin: 20px auto;
    }

    .edit {
        font-weight: 600;
        font-size: 14px;
        margin: 7px;
        text-transform: uppercase;
    }

    .card-body {
        padding: 0;

        .col-md-12 {
            margin-top: 30px;
        }
    }

    button {

        width: calc(50% - 8px);
        max-width: 150px;
        padding: 10px 20px;
        box-shadow: none;

        &#submit-btn {
            background-color: $input-border-background;
            border: 1px solid $input-border-background;
            float: right;
            text-transform: uppercase;
            font-weight: 600;
        }

        &#cancel-btn {
            border: 1px solid #a0a0a0;

            color: #a0a0a0;
        }

    }

    // style inputs
    // set colors and remove focus box-shadow
    input,
    select,
    textarea {
        box-shadow: none;
        border: 1px solid $input-border-background;
        color: $input-text-color;

        &:focus {
            background-color: #32849b;
            color: white;
        }
    }

    // set padding for text
    input[type='text'],
    select,
    textarea {
        padding: 12px;
    }


    .birthday {
        margin: 0 !important;

        .container {
            padding: 0 10px;

            .col {
                padding: 0 3px;
            }
        }

        select {
            width: 100%;
            height: 50px;
            display: inline;
            box-sizing: border-box;
        }
    }

    .gender>input {
        margin-left: 15px;
        border-radius: 0;
        background-color: white;

        &:checked {
            background-color: $input-border-background;
            box-shadow: none;
        }

        &+label {
            font-weight: normal;
        }
    }

    .notes>textarea {
        margin-top: 5px;

        &::placeholder {
            color: $input-text-color;
        }

        &:focus {
            background-color: #32849b;

            &::placeholder {
                color: white;
            }
        }
    }


    @include media-breakpoint-up(md) {
        padding: 3rem;
    	margin: 50px auto;
        .dog-img {
       		 margin: 20px 0;
        }

        .buttons {
            width: 250px;
            float: right;
        }

    }

}


#puppy-profile-display-card{
	background: $input-border-background;
	
	color: white;

	h1{
		color: white;
	}

	hr{
		background-color: white;
		opacity: 1;
	}

	.input-display{
		display: block;
		background: white;
		color: $input-border-background;
		padding: 12px 18px;
		border-radius: 10px;
		font-size: 25px;
		font-weight: 600;
	}

	#gender-display{
		display: inline;
		padding: 8px 20px;
		margin: 10px;
	}
	#misc-display{
		display: block;
		padding: 8px 20px;
		margin: 10px 0;
		min-height: 120px;
	}
}